<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"> <%= blog.title %></div>
    <div class="ui top attached ">
        <div class="item">
              <img class="ui centered rounded image" src=" <%=blog.image%>" width="300px">
        </div>
        <div class="content"> 
            <span><%=blog.created.toDateString() %></span>
        </div>

        <a class="ui orange inverted mini button" href="/blogs/<%=blog._id %>/edit"><i id="editicon" class="pencil icon"></i>Edit</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui button inverted mini red"><i id="trashicon" class="trash icon"></i>Delete</button>
        </form>
         <div class="description">
              <p> <%- blog.body%></p>
        </div>
    </div>
    
</div>

<div class="ui main text container segment">
    <div class="ui huge header">comments</div>
    <p> <a class="ui purple mini button" href="/blogs/<%=blog._id%>/comments/new">add new comment</a></p>
    <div class="ui divided items">
    <% blog.comments.forEach(function(comment){ %>
    <div class="item">
        <div class="content">
        <a class="header"><%=comment.author%></a>
        <div class="meta"> 
            <span><%=comment.created.toDateString() %></span>
        </div>
  
        <div class="description"> 
            <p><%=comment.text%></p>
        </div>
    </div>
    </div>
<%    }) %>
</div>
     </div>

<% include ../partials/footer %>